{% extends 'quotes/base.html' %}

{% block content %}
<h2>Add Quote</h2>
<form method="post">
    {% csrf_token %}
    <label for="quote">Quote:</label><br>
    <textarea name="quote" required></textarea><br>
    <label for="author">Author:</label><br>
    <select name="author" required>
        <option value="" disabled selected>Select an author</option>
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.fullname }}</option>
        {% endfor %}
    </select><br>
    <label for="tags">Tags:</label><br>
    <select name="tags" multiple required>
        {% for tag in tags %}
        <option value="{{ tag.name }}">{{ tag.name }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Add Quote</button>
</form>
{% endblock %}
